body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 5px;
    padding: 0;
}

.container {
    border: solid black;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: solid black;
    margin: 5px;
}

.image {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid black;
    border-radius: 5%;
    margin: 5px;
}

img {
    border-radius: 5%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: solid black;
    margin: 5px;
}

.header-two {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: solid black;
    margin: 5px;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid black;
    margin: 5px;
    padding: 5px;
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
    .header h1 {
        font-size: 24px;
    }
    .header h3 {
        font-size: 16px;
    }
}


